name: Build

on: 
  push:
  page_build:
  pull_request:
    branches:
    - main

jobs:
  build:

    runs-on: macos-13
    strategy:
      matrix: 
        destination: ['platform=iOS Simulator,OS=17.2,name=iPhone 15 Pro']

    steps:
    - name: Select Xcode
      run: sudo xcode-select -switch /Applications/Xcode_15.1.app
    - name: Xcode version
      run: /usr/bin/xcodebuild -version    
    - uses: actions/checkout@v2
    - name: Build and Test Proton
      run: xcodebuild -resultBundlePath TestResults -scheme "Proton" -destination "platform=iOS Simulator,name=iPhone 15 Pro,OS=17.2" clean test
    - name: Compile Test results  
      uses: kishikawakatsumi/xcresulttool@v1
      with:
        path: TestResults.xcresult
      if: success() || failure()
      # ^ This is important because the action will be run
      # even if the test fails in the previous step.
    - name: Build and Test Proton as dependency in another package
      run: xcodebuild build -destination "name=iPhone 15 Pro" -scheme "TestBuildPackage"
    - name: Capture Proton Code Coverage
      uses: codecov/codecov-action@v4
      with:
        fail_ci_if_error: false
        verbose: true
        token: ${{ secrets.CODECOV_TOKEN }}
    - name: Build Example App
      run: xcodebuild build -destination "name=iPhone 15 Pro" -scheme "ExampleApp"
